@model Hotel.Areas.Unit.DTO.UnitHomeViewModel
@using System.Data;


<div class="col-sm-12 table-responsive" id="CheckInRoomDetailsContainer">

    <h3>
        <strong>
            <span style="font-size:20px">Guest Check-in</span>  <span class="text-success bold">
                <br>
                Booking Id : <span id="spantxtDocketNo">@Model.DocketeNo</span>
                <input type="hidden" value="@Model.BookingId" id="BookingId" />
            </span>
        </strong>
    </h3>
    <div class="row" id="showRoomsDetsils">

        <div class="row">
            <div class="col-md-12">
                <div class="grid simple no-border">

                    <div class="grid-body  no-border" style="border: 15px solid #ecf0f2;
">
                        <div class="post" style="padding-top: 9px;">

                            <div class="">
                                <div class="info">
                                    <div class="row">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 style="color:#ba4340;font-weight:bold">Room Detail</h5>
                                            <div class="table-responsive" style="background-color:#f6f7f8;">
                                                
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr style="font-weight:bold">
                                                            <td>Room Category</td>
                                                            <td>No of Adults</td>
                                                            <td>No of Rooms</td>
                                                            <td>CheckIn date</td>
                                                            <td>Checkout date</td>



                                                            <td>Gross Amount</td>
                                                            <td>Extra Bed Chrgs.</td>
                                                            <td>GST Amount</td>
                                                            <td>Net Total</td>
                                                            @* <td>Status</td> *@

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null && Model.Table1 != null && Model.Table1.Rows.Count > 0)
                                                        {
                                                            foreach (DataRow item in Model.Table1.Rows)
                                                            {
                                                                <tr>
                                                                    <td>@item["Category"]</td>
                                                                    <td>@item["NoofAdults"]</td>
                                                                    <td>@item["NoofRooms"]</td>
                                                                    <td>@item["CheckInDate"]</td>
                                                                    <td>@item["CheckOutDate"]</td>

                                                                    <td>@item["GrossAmount"]</td>
                                                                    <td>@item["ExtraBedamt"]</td>
                                                                    <td>@item["TotalGST"]</td>
                                                                    <td>@item["TotalPayable"]</td>


                                                                   @*  <td>
                                                                        <a class="main-btn1" onclick="CheckIn_Step1(@item["BookingId"])" style="font-size:20px">&nbsp;&nbsp;Check-In&nbsp;&nbsp;</a>
                                                                    </td> *@
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        @if (Model != null && Model.Table1 != null && Model.Table1.Rows.Count > 0)
                                                        {
                                                            <tr>

                                                                <td>Total:</td>
                                                                <td style="color:red" colspan="9">
                                                                    <span style="color:red;text-align:left;">Gross Amount : <span style="text-align:right;color: #be2525;">₹@Model.Table1.Compute("sum(GrossAmount)", "")  </span>&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;
                                                                    <span style="color:red;text-align:left;">GST Amount : <span style="text-align:right;color: #be2525;">₹@Model.Table1.Compute("sum(TotalGST)", "")</span>&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;
                                                                    <span style="color:red;text-align:left">Payable Amount : <span style="text-align:right;color: #be2525;">₹@Model.Table1.Compute("sum(TotalPayable)", "")</span>&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;
                                                                    <span style="color:red;text-align:left;">Paid Amount : <span style="text-align:right;color: #be2525;">₹@Model.Table1.Compute("sum(PaidAmount)", "")</span>&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;
                                                                    <span style="color:red;text-align:left;">Due Amount : <span style="text-align:right;color: #be2525;">₹@Model.Table1.Compute("sum(DueAmount)", "")</span>&nbsp;&nbsp;&nbsp;</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>

                                    </div>


                                    <br>
                                    <div class="row" style="margin-top:15px">
                                        <div class="col-md-4">
                                            <lable class="left11">Guest Name:</lable>
                                            <input type="text" id="txtGuestName112" class="form-control" placeholder="Guest Address">
                                        </div>
                                        <div class="col-md-4">
                                            <lable class="left11">Id Proof</lable>
                                            <select class="form-control" onchange="chooseIdproof()" id="ddlIdProof">
                                                <option value="Aadhar">Aadhar</option>

                                                <option value="Voter">Voter Id</option>
                                                <option value="Driving">Driving Licence</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <lable class="left11" id="lblidproof">Aadhar No.</lable>
                                            <input type="text" maxlength="19" id="txtAdharNo" onkeyup="keyupAadhar(this)" class="form-control" placeholder="Id Proof No">
                                        </div>
                                        <div class="col-md-4">
                                            <lable class="left11" id="lblidproof">Address:</lable>
                                            <input type="text" maxlength="150" id="txtGuestAddress" class="form-control" placeholder="Address">
                                        </div>
                                        <div class="col-md-4">
                                            <lable class="left11" id="lblidproof">Registration No.:</lable>
                                            <input type="text" maxlength="12" id="txtGuestregNo" class="form-control" placeholder="Registration No.">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">

            <div class="row" id="modelItem1">
                <div class="col-md-12 NoofRoomType">

                    @if (Model != null && Model.Table2 != null && Model.Table2.Rows.Count > 0)
                    {
                        DataView dataView = new DataView(Model.Table2);

                        DataTable catdt = dataView.ToTable(true, "CategoryId", "Category", "NoofRooms", "NoofAdults", "ExtraBed", "DoubleOccupancy");
                        if (catdt != null && catdt.Rows.Count > 0)
                        {
                            foreach (DataRow item in catdt.Rows)
                            {
                                DataRow[] Rooms = Model.Table2.Select("CategoryId=" + item["CategoryId"]);

                                <div class="grid simple no-border" id="CategoryWisediv_@item["CategoryId"]">
                                    <div class="grid-title ">
                                        <h3 class="hdd1">
                                            <strong>@item["Category"]</strong>
                                        </h3>
                                    </div>
                                    <div class="grid-body divnoOftraveller-139 gridcolorchange" style="background: rgb(191, 230, 255);">

                                        <div class="row">
                                            <div class="col-md-6" style="display:none" id="divddlPerson-139">
                                                No of Guests
                                                <select datapricedef="0.00" id="ddlPerson-139" class="form-control" onchange="CheckRoomsCheckIn('139','Person','3')">
                                                    <option value="0">0</option>

                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>

                                            <div id="CategoryCantainer_@item["CategoryId"]" class="bindrooms col-md-12 colorchangebackground">
                                                <span style="font-size:20px;color:black;"><strong>(You Booked <span id="RoomCount_139"> @item["NoofRooms"] </span> Room and @item["NoofAdults"] Person)</strong> </span><br>
                                                <div class="Roomsnowise">
                                                    @if (Rooms != null && Rooms.Length > 0)
                                                    {
                                                        foreach (DataRow room in Rooms)
                                                        {
                                                            <div class="col-sm-3" style="border:groove" >

                                                                @if (Convert.ToString(room["IsCheckIn"])=="1")
                                                                {
                                                                    <input type="checkbox" checked disabled="disabled">@room["RoomNo"]
                                                                }
                                                                else
                                                                {
                                                                    int NoOfBed = 0;
                                                                    int.TryParse(room["NoOfBed"].ToString(), out NoOfBed);

                                                                    <input type="checkbox" class="selectedRooms" noofbed="@room["NoOfBed"]" noofrooms="@room["NoofRooms"]" catid="@room["CategoryId"]" roomno="@room["RoomNo"]" extrabed="@room["ExtraBed"]" onchange="CheckValidation(this)">
                                                                    @room["RoomNo"]
                                                                    <div class="selectedExtraBed" style="float:right;">
                                                                        @* <input type="checkbox" class="selectedExtrabedinput">EB *@

                                                                        <select class="selectedExtrabedinput" >
                                                                            @for (int i = 1; i <= (NoOfBed+1); i++)
                                                                            {
                                                                                if (i == NoOfBed)
                                                                                {
                                                                                    <option value="@i" selected>@i</option>
                                                                                }
                                                                               else
                                                                                {
                                                                                    <option value="@i">@i</option>
                                                                                }
                                                                            }
                                                                        </select>

                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-info waves-effect waves-light" id="btnFinalCheckIn" onclick="FinalCheckIn()">Check-in</button>
                </div>
            </div>




        </div>
    </div>
</div>
